<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <!-- Desarrollo -->
    <script src="https://www.paypal.com/sdk/js?client-id=AakdNCQ3SFemJtcH8CpbRZP3LGhJaBN7b3CSExy-GTB0MuwWabfCk2iOluZyrWs-ijT1QLZTecrK_WaK&currency=MXN"></script>

    <!-- Prueba -->
   <!--  <script src="https://www.paypal.com/sdk/js?client-id=AbEgsP4_0ocjG4gz8PqXLzkgAmqINyO_wFHOpmlvGcLb7W-tBD2Ac-1yLWzx3KHMDQHUbtm2hGyKuyVh&currency=MXN"></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
