<template>
  <v-container>
  	<v-card class="elevation-0">
      <v-card-title primary-title class="pb-0 display-1" align="center">
       <v-spacer></v-spacer>Novedades <v-icon color="primary" large>eco</v-icon><v-spacer></v-spacer>
      </v-card-title>
		  <v-btn color="primary" @click="atras" small  class='atras' fab><v-icon>keyboard_arrow_left</v-icon></v-btn>
		  <v-spacer></v-spacer>
		  <v-btn color="primary" @click="adelante" small class='adelante' fab><v-icon>keyboard_arrow_right</v-icon></v-btn>
  		<v-card-text class="pt-0 ">
		    <v-row  justify="center" class="pt-0">
		    	<v-col cols="12" xl="3" lg="4" md="4" sm="6" v-for="(novedad, i) in novedades" :key="i" v-if="i < countMaxima" class="pt-0">
		    		<v-hover v-slot:default="{ hover }">
		          <v-card height="100%" class="elevation-8 mt-0" v-on:dblclick="verDetalle(novedad)">
		            <v-img 
                  v-if="novedad.fotos.length > 0"
		              class="mb-4"
		              :src="url + novedad.fotos[0].image_name" 
		              height="150"
		              contain>
		              <v-expand-transition>
		                <div
		                  v-if="hover"
		                  class="d-flex transition-fast-in-fast-out primary darken-2 v-card--reveal white--text"
		                  style="height: 100%;"
		                >
		                  <h2>{{novedad.precio}}</h2>
		                </div>
		              </v-expand-transition>
		            </v-img> 
		            
		            
		              <v-btn
		                small
		                color="primary"
		                class="buton_cart"
		                fab
                    @click="addCarrito(novedad)"
		              >
		                <v-icon>mdi-cart</v-icon>
		              </v-btn>
		            <v-card-text>
			            <h2>{{novedad.nomart}}</h2><br/>
			            <h3>{{novedad.descrip}}</h3><br/>
		            </v-card-text>
                <v-card-actions v-if="novedad.pjedesc > 0">
                  <strike><h3 class="primary--text mr-2">{{novedad.precio1}} MXN</h3></strike>
                  <h2 class="secondary--text">{{ novedad.prediocesc }} MXN</h2>
                </v-card-actions>

                <v-card-actions v-else>
                  <h2 class="primary--text mr-2">{{novedad.precio1}} MXN</h2>
                </v-card-actions>
		          </v-card>
		        </v-hover>
		    	</v-col>
		    </v-row>
  		</v-card-text>
  	</v-card>
  </v-container>
</template>

<script>
  var numeral = require('numeral');
  import {mapActions} from 'vuex'

  export default {
    data () {
      return {
      	countMaxima: 6,
      	height:'',
				width:'',
        model:null,
        novedades:[],
        url: '',
      }
    },

    created(){
      this.url = this.$http.options.root + 'fotos/'
      this.init()
    },

    watch:{
    	tamanioDisplay(){
        switch (this.tamanioDisplay) {
          case 'xs': 
            this.countMaxima = 1 
          break;
          case 'sm': 
            this.countMaxima = 2 
          break;
          case 'md': 
            this.countMaxima = 2
          break;
          case 'lg': 
            this.countMaxima = 3
          break;
          case 'xl': 
            this.countMaxima = 6 
          break;
        }
      }
    },

    methods:{
      ...mapActions('carrito',['carritoadd']),
      
      init(){
        this.$http.get('tienda/articulos.novedades.get').then(response=>{
          this.novedades = response.body
          this.novedades.forEach(element=>{
            element.precio1 = numeral(element.precio1).format('0,0.00')
            element.prediocesc = element.precio1 * ( 100 / (100 + element.pjedesc))
            element.prediocesc = numeral(element.prediocesc).format('0,0.00')
          })
        }).catch(error=>{console.log(error)})
      },
    	adelante(){
    		// guardamos el primer valor del arreglo 
    		var temp = this.novedades[0]
    		// lo eliminamos
    		this.novedades.shift();
    		// y agregamos al final
    		this.novedades.push(temp); 
    	},

    	atras(){
    		// guardamos el ultimo
    		var temp = this.novedades[this.novedades.length - 1]
    		// eliminamos el ultimo
    		this.novedades.pop();
    		// y agregamos al principio
    		this.novedades.unshift(temp)
    	},

      addCarrito(art){
        art.precio1 = parseFloat(art.precio1)
        this.carritoadd(art)
        this.$store.state.carrito.carritovisible = true
      },

      verDetalle(art){
        this.$router.push({ name: 'detart' , params:{ codigo:art.codigo} })
      },
    },

    computed:{
    	tamanioDisplay(){
        switch (this.$vuetify.breakpoint.name) {
          case 'xs': 
            this.countMaxima = 1 
          break;
          case 'sm': 
            this.countMaxima = 2 
          break;
          case 'md': 
            this.countMaxima = 2
          break;
          case 'lg': 
            this.countMaxima = 3
          break;
          case 'xl': 
            this.countMaxima = 6 
          break;
        }
      }
    }
  }
</script>
<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

.atras { 
  position: relative; 
  left: -30px; 
  top: 200px; 
  background-color: #fafafa; 
  border: solid 3px #ff7347; 
} 

.adelante { 
  position: absolute; 
  right: -30px; 
  top: 250px; 
  background-color: #fafafa; 
  border: solid 3px #78e382; 
  font-size: 24px; 
  text-align: center; 
}

.buton_cart{
	position: absolute; 
  right: 0px; 
  top:130px;
  background-color: #fafafa; 
  border: solid 3px #78e382; 
  font-size: 24px; 
  text-align: center; 
}

#titulo{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
</style>