<template>
	<v-container>
		<!--Envíos a domicilio -->
		<v-row>
	  	<v-col cols="12" >
	  		<v-card align="center" class="primary--text elevation-0 transparent">
	  			<v-card-title primary-title class="display-1">
	  			  No salgas de tu casa, recibe tu pedido hata la puerta de tu casa
	  			</v-card-title>
	  		</v-card>
	  	</v-col>

	  	<v-col cols="12" lx="3" lg="3" md="6" sm="6">
	  		<v-card align="center" justify="center" class="transparent elevation-0">
	  			<v-card-title class="headline" >
	  			  1-. Registrate como usuario
	  			</v-card-title>
	  		  <v-img aspect-ratio="2" src="https://lh3.googleusercontent.com/proxy/mKnfHS-3BbGbPuqLmfQfMrQrhzZgSrPnCS7f1lEnLom4tDy6-bRQ0lkEr8xLaxEHaFAJl7-tq6X6ueQfvScOoNNcOb0cUqh4iYDTGsGBs9Bl23P6MgJ3IezddYy0VT1qAVgtqZo3" 
	  		  contain
	  		  width="100%"/>
	  		</v-card>
	  	</v-col>

	  	<v-col cols="12" lx="3" lg="3" md="6" sm="6">
	  		<v-card align="center" justify="center" class="transparent elevation-0">
	  			<v-card-title class="headline" >
	  			  2-. Registra tu dirección de envío
	  			</v-card-title>
	  		  <v-img aspect-ratio="2" src="https://mhp-net.es/wp-content/uploads/2016/03/soluciones-4.png" 
	  		  contain
	  		  width="100%"/>
	  		</v-card>
	  	</v-col>

	  	<v-col cols="12" lx="3" lg="3" md="6" sm="6">
	  		<v-card align="center" justify="center" class="transparent elevation-0">
	  			<v-card-title class="headline" >
	  			  3-. Selecciona tus artículos
	  			</v-card-title>
	  		  <v-img aspect-ratio="2" src="https://www.pngkey.com/png/full/411-4119250_no-tiene-artculos-en-su-carrito-de-compras.png" 
	  		  contain
	  		  width="100%"/>
	  		</v-card>
	  	</v-col>

	  	<v-col cols="12" lx="3" lg="3" md="6" sm="6">
	  		<v-card align="center" justify="center" class="transparent elevation-0">
	  			<v-card-title class="headline" >
	  			  4-. Realiza tu pedido
	  			</v-card-title>
	  		  <v-img aspect-ratio="2" src="https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-icono-de-c--rculo-de-marca-de-verificaci--n-curvo-by-vexels.png" 
	  		  contain
	  		  width="100%"/>
	  		</v-card>
	  	</v-col>
	  </v-row>

	 <!--  <v-row>
	  	<v-col cols="12" md="6">
	  		<v-card class="primary--text">
	  			<v-card-title primary-title>
	  			  Envíos <v-icon right large color="primary">local_shipping</v-icon>
	  			</v-card-title>
	  		  <ol>
	  		  	<li>biun</li>
	  		  </ol>
	  		</v-card>
	  	</v-col>
	  </v-row> -->


	  <v-row>
	  	<v-col cols="12" lx="4" lg="4" md="6" sm="6">
	  		<v-card align="center" class="elevation-0">
	  			<v-card-title primary-title class="primary--text">
	  			  Se aceptan todas las tarjetas de débito y crédito a través de paypal
	  			</v-card-title>
	  		  <v-img aspect-ratio="2" src="https://lh3.googleusercontent.com/proxy/6ke6QAcFIUiCddjO2Ea1Tm1PVGKgqrzHdR9kDzjXyGxnytT06dlwYuDsI5t_ZqtY3ZBssj4G4vZtCtIgQWux4lPYm320InE9h9MXPPeXh1anXm1yJcTFl8Z1EdEOtmLJCyUt0cjy6VdhutBAn_j2vn_ppK6qVD69mDHw7yM" 
	  		  contain
	  		  width="100%"/>
	  		</v-card>
	  	</v-col>
	  </v-row>
	</v-container>
</template>