<template>
  <v-app id="inspire">

    <v-system-bar color="primary" dark app>
      <v-spacer></v-spacer>
      <v-icon>phone</v-icon>
      <span>Dudas: {{telefono}} / Soporte: 8121058094</span><span class="iconify" data-icon="mdi-whatsapp" data-inline="false"></span>
    </v-system-bar>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      class="elevation-0"
      app
      color="primary"
      dark
      dense
      >
     <!--  prominent
      shrink-on-scroll -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <v-btn text :to="{name:'login'}" v-if="!getLogeado">Iniciar sesión</v-btn>

      <v-bottom-sheet v-model="sheet"  v-if="getLogeado" max-width="500" right>
        <template v-slot:activator="{ on }">
          <v-btn
            text
            dark
            v-on="on"
          > 
            Opciones
            <v-icon right>settings</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-subheader>Herramientas</v-subheader>
          <v-list-item
            v-for="tile in tiles"
            :key="tile.title"
            @click="sheet = false"
            :to="tile.path"
          >
            <v-list-item-avatar>
              <v-avatar size="32px" tile>
                <img
                  :src="url + tile.img"
                  :alt="tile.title"
                >
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-title>{{ tile.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
        <v-list>
          <v-list-item @click="salir">
            <v-list-item-icon>
              <v-icon>logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Cerrar sesión</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-bottom-sheet>

      <v-badge
        class="mr-2"
        :content="getCarrito.length"
        color="green"
        overlap
      >
        <v-icon @click.stop="ver">shopping_cart</v-icon>
      </v-badge>
      </v-toolbar>
    </v-app-bar>


    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      app
      left
      >
      <v-container>
        <v-col cols="12">
          <img :src="logo" alt="alt" width="100%" align="center" @click="home()">
        </v-col>
      </v-container>

      <v-list dense>
        <v-subheader>OTRAS OPCIONES</v-subheader>
        <v-list-item-group v-model="item" color="primary">
          <v-list-item
            v-for="(item, i) in opciones"
            :key="i"
            :to="item.path"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <v-text-field
       class="ma-2"
        label="Filtra por laboratorio"
        dense
        outlined
        hide-details
        v-model="search"
      ></v-text-field>

      <v-list dense>
        <v-list-group
          v-model="labDespliegue"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>LABORATORIOS</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(lab, i) in filterLab"
            :key="i"
            @click="verArtxLab(lab)"
            color="primary"
          >
            <v-list-item-content class="pa-0">
              <v-list-item-title v-text="lab.nomlab.toUpperCase()"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer
      v-model="$store.state.carrito.carritovisible"
      app
      clipped
      right
      class="elevation-0"
      width="350"
      temporary
      >
      <Caja/>
    </v-navigation-drawer>

    <!-- Ruteo de vistas -->
    <v-content>
      <v-container fluid >
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
        <v-spacer></v-spacer>
        <v-card id="create" class="elevation-0">
          <v-container fluid>
          </v-container>
        </v-card>
      </v-container>
    </v-content>
    <v-speed-dial
      fixed
      fab
      bottom
      right
      >
      <template v-slot:activator>
        <v-btn
          color="green "
          dark
          fab
          @click="messenger"
        >
          <v-icon large>mdi-whatsapp</v-icon>
        </v-btn>
      </template>
    </v-speed-dial>

    <v-footer  color="primary" dark app inset absolute>
      <Footer/>
    </v-footer>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import {mapGetters, mapActions} from 'vuex'
  import Caja from '@/views/Caja.vue'
  import Footer from '@/views/home/Footer.vue'
  var numeral = require('numeral');



  export default {
    components:{
      Caja,
      Footer
    },

    props: {
      source: String,
    },


    data: () => ({
      telefono:'',
      search:'',
      laboratorios:[],
      drawer: true,
      item: 1,
      laboratorios: [],
      labDespliegue: true,

      opciones: [
        { text: 'Todos los artículos',   icon: 'style' , path: '/catarts'},
      ],
      logo:'',

      sheet: false,
      tiles: [
        { img: 'perfil.png',      title: 'Perfil'               ,path: '/miperfil'},
        { img: 'datosfis.jpg',    title: 'Datos fiscales'       ,path: '/datosfiscales'},
        { img: 'direcciones.png', title: 'Direcciones de envío' ,path: '/direcciones' },
        { img: 'compras.png',     title: 'Mis Compras'           ,path: '/miscompras' },
      ],

      url: '',

    }),

    created(){
      this.init()
      this.traerArticulos()
      this.getTelefono()
    },

    methods:{
      ...mapActions('login',['salirLogin']),
      ...mapActions('articulos',['traerArticulos','routeLaboratorio']),

      init(){
        this.url = this.$http.options.root + 'fotos/'
        this.color()
        this.getLaboratorios()
      },

      getLaboratorios(){
        this.$http.get('tienda/laboratorios.activos').then(response=>{
          this.laboratorios = response.body
        }).catch(error=>{console.log(error)})
      },

      color(){
        this.$http.get('config.list').then(response=>{
          var ciaws = response.body
          console.log(ciaws)
          this.logo = this.$http.options.root + 'fotos/' + ciaws.logourl
          this.$vuetify.theme.themes.light.primary = ciaws.primario
          this.$vuetify.theme.themes.light.secondary = ciaws.secundario
          this.$vuetify.theme.themes.light.success = ciaws.correcto
          this.$vuetify.theme.themes.light.info = ciaws.informatico
          this.$vuetify.theme.themes.light.error = ciaws.errores
          this.$vuetify.theme.themes.light.warning = ciaws.peligro
        }, error => {
          console.log(error)
        })

      },

      ver(){
        // EXPLICAR FUNCIOANLIDAD
        this.$store.state.carrito.carritovisible =! this.$store.state.carrito.carritovisible
        this.drawerRight = this.$store.state.carrito.carritovisible
      },

      salir(){
        this.$router.push({name:'login'}).catch(error=>{console.log(error)})
        this.salirLogin()
      },

      verArtxLab(lab){
        this.$router.push({name:'labart', params:{id: lab.idlaboratorios, detalle: lab}}).catch(error=>{console.log(error)})
      },

      home(){
        this.$router.push({name:'home'}).catch(error=>{console.log(error)})
      },

      getTelefono(){
        this.$http.get('tienda/datosfiscales').then(response=>{
          console.log('telefono', response.body[0])
          this.telefono = response.body[0].telefono
        }, error => {console.log(error)})

      },

      messenger(){

      }
    },

    computed:{
      ...mapGetters('login',['getLogeado']),
      ...mapGetters('carrito',['getCarrito']),

      filterLab: function(){
        var me = this
        if(this.laboratorios){
          return this.laboratorios.filter((art)=>{
            var nom = art.nomlab.toLowerCase();
            return nom.match(this.search.toLowerCase());
          })
        }
      },

      activeFab () {
        switch (this.tabs) {
          case 'one': return { class: 'purple', icon: 'account_circle' }
          case 'two': return { class: 'red', icon: 'edit' }
          case 'three': return { class: 'green', icon: 'keyboard_arrow_up' }
          default: return {}
        }
      },
    }
  }
</script>

<style>
  /* This is for documentation purposes and will not be needed in your application */
  #create .v-speed-dial {
    position: absolute;
  }

  #create .v-btn--floating {
    position: relative;
  }
</style>